{% extends "nav.html" %}
{% block head %}
    <script src="{{ url_for('static', filename='js/pydelo/host_detail.js') }}"></script>
{% endblock %}
{% block content %}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="/hosts">Home</a></li>
        <li class="active">Detail</li>
    </ol>
</div>
<div class="row">
    <!--form role="form" action="/host//update" method="post"-->
        <div class="row">
            <div class="col-xs-2">
                <label>name:</label>
            </div>
            <div class="col-xs-5">
                <input class="form-control" type="text" id="name" placeholder="host name" >
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <label>ssh host:</label>
            </div>
            <div class="col-xs-5">
                <input class="form-control" type="text" id="ssh_host" >
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <label>ssh port:</label>
            </div>
            <div class="col-xs-5">
                <input class="form-control" type="text" id="ssh_port" >
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <label>ssh method:</label>
            </div>
            <div class="col-xs-5">
                <select class="form-control" id="ssh_method">
                    <option value="0">Password</option>
                    <option value="1">Public Key</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <label>ssh user:</label>
            </div>
            <div class="col-xs-5">
                <input class="form-control" type="text" id="ssh_user" >
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <label>ssh password:</label>
            </div>
            <div class="col-xs-5">
                <input class="form-control" type="text" id="ssh_pass" >
            </div>
        </div>
        <button id="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}
