{% extends "nav.html" %}
{% block head %}
    <script src="{{ url_for('static', filename='js/pydelo/host_create.js') }}"></script>
{% endblock %}
{% block content %}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="/hosts">Home</a></li>
        <li class="active">Creation</li>
    </ol>
</div>
<div class="row">
    <!--form role="form" action="/host/creation" method="post"-->
        <div class="row">
            <div class="col-xs-1">
                <label>name:</label>
            </div>
            <div class="col-xs-5">
                <input class="form-control" type="text" id="name" placeholder="host name">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
                <label>ssh host:</label>
            </div>
            <div class="col-xs-5">
                <input class="form-control" type="text" id="ssh_host">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
                <label>ssh port:</label>
            </div>
            <div class="col-xs-5">
                <input class="form-control" type="text" id="ssh_port">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
                <label>ssh user:</label>
            </div>
            <div class="col-xs-5">
                <input class="form-control" type="text" id="ssh_user">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
                <label>ssh password:</label>
            </div>
            <div class="col-xs-5">
                <input class="form-control" type="text" id="ssh_pass">
            </div>
        </div>
        <button id="submit" class="btn btn-primary">提交</button>
    </form>
</div>
{% endblock %}
