{% extends "blank.html" %}
{% block head %}
    <script src="{{ url_for('static', filename='js/pydelo/login.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.cookie.min.js') }}"></script>
{% endblock %}
{% block body %}
<div class="container">
    <div class="center-block">
        <div>
            <label>Username:</label>
            <input type="text" id="username" placeholder="username">
        </div>
        <div>
            <label>Password:</label>
            <input type="password" id="password" placeholder="password">
        </div>
        <button type="submit" id="submit" class="btn btn-primary">提交</button>
    </div>
</div>
{% endblock %}
