<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pydelo/api.js') }}"></script>
{% block head %}{% endblock %}
</head>
<title>pydelo</title>

<body>
<div class="container header">
    <div class="row">
    <div class="pull-left">
        <h3>Pydelo</h3>
    </div>
    <div class="pull-right">
    <div class="dropdown pull-right">
        <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
            {{ g.user.name }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li><a href="/account/change_password">Change Password</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
    </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <!--li class="nav-header">项目管理</li-->
                    <li><a href="/deploys">Deploys</a></li>
                    {% if g.user.role == g.user.ROLE["ADMIN"] %}
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/hosts">Hosts</a></li>
                    <li><a href="/users">Users</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-md-10">
{% block content %}{% endblock %}
        </div>
    </div>
</div>

<body>
</html>




