{% extends "nav.html" %}
{% block head %}
    <script src="{{ url_for('static', filename='js/pydelo/user_create.js') }}"></script>
{% endblock %}
{% block content %}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="/hosts">Home</a></li>
        <li class="active">Creation</li>
    </ol>
</div>
<div class="row">
    <!--form role="form" action="/host/creation" method="post"-->
        <div class="row">
            <div class="col-xs-1">
                <label>name:</label>
            </div>
            <div class="col-xs-5">
                <input class="form-control" type="text" id="name" placeholder="username">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
                <label>password:</label>
            </div>
            <div class="col-xs-5">
                <input class="form-control" type="text" id="password">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
                <label>email:</label>
            </div>
            <div class="col-xs-5">
                <input class="form-control" type="text" id="email">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
                <label>phone:</label>
            </div>
            <div class="col-xs-5">
                <input class="form-control" type="text" id="phone">
            </div>
        </div>
        <button id="submit" class="btn btn-primary">提交</button>
    </form>
</div>
{% endblock %}
